h1{
    text-align: center;
    margin :0px;
}
.cointainer{
    width :900px;
    margin-left:500px ;
    height:500px;
    margin-top:50px;
    /*background-color: #005ccc;*/
}
.box{
    
    border :7px solid black;
    /*background-color: rgba(50, 37, 23, 0.35);*/
    width: 100px;
    height: 60px;
    text-align: center;
    margin-right: 70px;
    margin-top: 15px;
    float: right;
    padding-top: 40px;
    border-radius: 10px;
    background: rgba(238, 228, 218, 0.35);
    font: sans-serif;
    font-size: 25px;
    color: black;
}    






