h1{
    text-align: center;
    color: #475594;
}
body{
    background-color: #57407c;
}
.cointainer{
    width :500px;
    margin-left:425px ;
    margin-top: 80px;
}
.box{
    border: 5px transparent;
    width: 100px;
    height: 60px;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    background-color: #cac1b1;
    font-size: 35px;
    color: #475594;
    font-family: sans-serif;
}    






